div.row.intro
	div(class='col-xs-12 intro-text text-center' data-sr='scale down 50%')
		h2 A few facts about us
		div Before you do business with us, 
		div you might want to know a little bit more about our company:
		
