div(class='row gallery-content' data-sr) 
    div.col-xs-4.col-sm-2
        a(href='#' title='Thumb 01 Link' data-open='thumb-01-big.png' data-description='Bild 01 -- Well, this is amazing!' data-id='1' class="gallery-image js-openLightbox block")
            img(src='./assets/img/thumb-01.png' alt='Thumb 01' class='img-responsive')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 02 Link' data-open='thumb-01-big.png' data-description='Bild 02 -- Well, this is amazing!' data-id='2' class="gallery-image js-openLightbox block")
            img(src='./assets/img/thumb-02.png' alt='Thumb 02' class='img-responsive')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 03 Link' data-open='thumb-01-big.png' data-description='Bild 03 -- Well, this is amazing!' data-id='3' class="gallery-image js-openLightbox block")
            img(src='./assets/img/thumb-03.png' alt='Thumb 03' class='img-responsive')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 04 Link' data-open='thumb-01-big.png' data-description='Bild 04 -- Well, this is amazing!' data-id='4' class="gallery-image js-openLightbox block")
            img(src='./assets/img/thumb-04.png' alt='Thumb 04' class='img-responsive')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 05 Link' data-open='thumb-01-big.png' data-description='Bild 05 -- Well, this is amazing!' data-id='5' class="gallery-image js-openLightbox block")
            img(src='./assets/img/thumb-05.png' alt='Thumb 05' class='img-responsive')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 06 Link' data-open='thumb-01-big.png' data-description='Bild 06 -- Well, this is amazing!' data-id='6' class="gallery-image js-openLightbox block")
            img(src='./assets/img/thumb-06.png' alt='Thumb 06' class='img-responsive')
div(class='row gallery-content' data-sr)
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 07 Link' data-open='thumb-01-big.png' data-description='Bild 07 -- Well, this is amazing!' data-id='7' class="gallery-image js-openLightbox block")
            img(src='./assets/img/thumb-07.png' alt='Thumb 07' class='img-responsive')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 08 Link' data-open='thumb-01-big.png' data-description='Bild 08 -- Well, this is amazing!' data-id='8' class="gallery-image js-openLightbox block")
            img(src='./assets/img/thumb-08.png' alt='Thumb 08' class='img-responsive')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 09 Link' data-open='thumb-01-big.png' data-description='Bild 09 -- Well, this is amazing!' data-id='9' class="gallery-image js-openLightbox block")
            img(src='./assets/img/thumb-09.png' alt='Thumb 09' class='img-responsive')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 10 Link' data-open='thumb-01-big.png' data-description='Bild 10 -- Well, this is amazing!' data-id='10' class="gallery-image js-openLightbox block")
            img(src='./assets/img/thumb-10.png' alt='Thumb 10' class='img-responsive')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 11 Link' data-open='thumb-01-big.png' data-description='Bild 11 -- Well, this is amazing!' data-id='11' class="gallery-image js-openLightbox block")
            img(src='./assets/img/thumb-11.png' alt='Thumb 11' class='img-responsive')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 12 Link' data-open='thumb-01-big.png' data-description='Bild 12 -- Well, this is amazing!' data-id='12' class="gallery-image js-openLightbox block")
            img(src='./assets/img/thumb-12.png' alt='Thumb 12' class='img-responsive')
