div(class='row gallery-content' data-sr) 
    div.col-xs-4.col-sm-2
        a(href='#' title='Thumb 01 Link' data-big='thumb-01-big.png')
            img(src='./assets/img/thumb-01.png' alt='Thumb 01')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 02 Link' data-big='thumb-01-big.png')
            img(src='./assets/img/thumb-02.png' alt='Thumb 02')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 03 Link' data-big='thumb-01-big.png')
            img(src='./assets/img/thumb-03.png' alt='Thumb 03')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 04 Link' data-big='thumb-01-big.png')
            img(src='./assets/img/thumb-04.png' alt='Thumb 04')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 05 Link' data-big='thumb-01-big.png')
            img(src='./assets/img/thumb-05.png' alt='Thumb 05')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 06 Link' data-big='thumb-01-big.png')
            img(src='./assets/img/thumb-06.png' alt='Thumb 06')
div(class='row gallery-content' data-sr)
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 07 Link' data-big='thumb-01-big.png')
            img(src='./assets/img/thumb-07.png' alt='Thumb 07')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 08 Link' data-big='thumb-01-big.png')
            img(src='./assets/img/thumb-08.png' alt='Thumb 08')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 09 Link' data-big='thumb-01-big.png')
            img(src='./assets/img/thumb-09.png' alt='Thumb 09')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 10 Link' data-big='thumb-01-big.png')
            img(src='./assets/img/thumb-10.png' alt='Thumb 10')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 11 Link' data-big='thumb-01-big.png')
            img(src='./assets/img/thumb-11.png' alt='Thumb 11')
    div.col-xs-4.col-sm-2 
        a(href='#' title='Thumb 12 Link' data-big='thumb-01-big.png')
            img(src='./assets/img/thumb-12.png' alt='Thumb 12')
