div.container
	div.row.header-container
		div.col-xs-2
			a(href='#' title='Home Link')
				img(src='./assets/img/logo-small.png' alt='Rocket Logo Small')
		div.col-xs-10.text-right.main-nav-container
			ul.list-unstyled.list-inline.main-nav-list
				li.main-nav-item 
					a(href='#' class='main-nav-item-link' title='Link 01') About Us
				li.main-nav-item 
					a(href='#' class='main-nav-item-link' title='Link 02') The Team
				li.main-nav-item 
					a(href='#' class='main-nav-item-link' title='Link 03') Impressions
				li.main-nav-item 
					a(href='#' class='main-nav-item-link' title='Link 04') Contact