div.container
	div.row.header-container
		div.col-xs-2
			a(href='#' title='Home Link' id="js-toTop")
				img(src='./assets/img/logo-small.png' alt='Rocket Logo Small')
		div.col-xs-10.text-right.main-nav-container.hidden-xs
			ul(class='list-unstyled list-inline main-nav-list')
				li.main-nav-item
					a(href='#' class='js-scrollTo main-nav-item-link' data-name='facts' title='Link 01') About Us
				li.main-nav-item
					a(href='#' class='js-scrollTo main-nav-item-link' data-name='team' title='Link 02') The Team
				li.main-nav-item
					a(href='#' class='js-scrollTo main-nav-item-link' data-name='gallery' title='Link 03') Impressions
				li.main-nav-item
					a(href='#' class='js-scrollTo main-nav-item-link' data-name='contact' title='Link 04') Contact
		div.col-xs-3-col-xs-offset-7.main-nav-container.text-right.visible-xs
			a(href='#' class='mobile-menu') Menu
section.mobile-menu-container.visible-xs.hidden
			div.row
				div.col-xs-12
					ul.list-unstyled.text-center
						li 
							a(href='#' class='js-scrollTo main-nav-item-link' data-name='facts' title='Link 01') About Us
						li 
							a(href='#' class='js-scrollTo main-nav-item-link' data-name='team' title='Link 02') The Team
						li 
							a(href='#' class='js-scrollTo main-nav-item-link' data-name='gallery' title='Link 03') Impressions
						li 
							a(href='#' class='js-scrollTo main-nav-item-link' data-name='contact' title='Link 04') Contact
