form(class='row' data-sr)
    div.col-xs-12.col-sm-3.col-sm-offset-3
        div.row
            div.col-xs-12
                input(type='text' class='form-control' id='example01' placeholder='First Name')
        div.row
            div.col-xs-12
                input(type='text' class='form-control col-xs-8' id='example02' placeholder='Last Name')
        div.row
            div.col-xs-12
                input(type='email' class='form-control col-xs-4' id='example03' placeholder='E-Mail')
    div.col-xs-3
        div.row
            div.col-xs-12
                textarea(class='form-control' rows='7')
div.row
    div.col-xs-12.text-center
        button(type='button' class='btn btn-yellow') Send that mail
