div.row.intro
	div(class='col-xs-12 intro-text text-center' data-sr='scale up 50%')
		h2 The team
		div Yep, that‘s us. Six fine fellows, eager to get on the next adventure.
		div Click on the pictures to get some more information!
		
