div.col-xs-12.col-sm-4.col-sm-offset-2.team-member
    a(href='#' class='row' title='Cowboy 4')
        div.col-xs-6
            img(src='./assets/img/cowboy-04.png' alt='Cowboy 4' class='img-responsive')
        div.col-xs-6.text-left
            h4 Bert McNamara
            p.team-position Captain
            div.team-data
                div Age: 71
                div Missions: 13
div.col-xs-12.col-sm-4.col-sm-offset-2.team-member
    a(href='#' class='row' title='Cowboy 5')
        div.col-xs-6
            img(src='./assets/img/cowboy-05.png' alt='Cowboy 5' class='img-responsive')
        div.col-xs-6.text-left
            h4 Al Sveringe
            p.team-position CEO
            div.team-data
                div Age: 76
                div Missions: 13
