div.col-xs-12.col-sm-4.col-sm-offset-2.team-member
    a(href='#' class='row' title='Cowboy 1')
        div.col-xs-6
            img(src='./assets/img/cowboy-01.png' alt='Cowboy 1' class='img-responsive')
        div.col-xs-6.text-left
            h4 Dick Harvey
            p.team-position Captain
            div.team-data
                div Age: 56
                div Missions: 13					
div.col-xs-12.col-sm-4.col-sm-offset-2.team-member
    a(href='#' class='row' title='Cowboy 2')
        div.col-xs-6
            img(src='./assets/img/cowboy-02.png' alt='Cowboy 2' class='img-responsive')
        div.col-xs-6.text-left
            h4 Richie Farhem
            p.team-position Captain
            div.team-data
                div Age: 48
                div Missions: 13
div.col-xs-12.col-sm-4.col-sm-offset-2.team-member
    a(href='#' class='row' title='Cowboy 3')
        div.col-xs-6
            img(src='./assets/img/cowboy-03.png' alt='Cowboy 3' class='img-responsive')
        div.col-xs-6.text-left
            h4 John Siracha
            p.team-position Captain
            div.team-data
                div Age: 47
                div Missions: 13				
