div.col-xs-12.col-sm-4.team-member
    div(class='card effect__click flipFront row')
        div.card__front
            div.card__text.col-xs-12
                div.row
                    div.col-xs-6
                        img(src='./assets/img/cowboy-01.png' alt='Cowboy 1' class='img-responsive')
                    div.col-xs-6.text-left
                        h4 Dick Harvey
                        p.team-position Captain
                        div.team-data
                            div Age: 56
                            div Missions: 13
        div.card__back
            div.card__text.col-xs-12
                div.row
                    div.col-xs-12.quote
                        strong Dick's famous quote:
                        p "This is a small step for me, but a big step, for, like, a small kid"
                        
div.col-xs-12.col-sm-4.team-member
    div(class='card effect__click flipBack row')
        div.card__front
            div.card__text.col-xs-12
                div.row
                    div.col-xs-6
                        img(src='./assets/img/cowboy-02.png' alt='Cowboy 2' class='img-responsive')
                    div.col-xs-6.text-left
                        h4 Richie Farhem
                        p.team-position Captain
                        div.team-data
                            div Age: 48
                            div Missions: 13
        div.card__back
            div.card__text.col-xs-12
                div.row
                    div.col-xs-12.quote
                        strong Richie's famous quote:
                        p "This is a small step for me, but a big step, for, like, a small kid"
                        
div.col-xs-12.col-sm-4.team-member
    div(class='card effect__click row')
        div.card__front
            div.card__text.col-xs-12
                div.row
                    div.col-xs-6
                        img(src='./assets/img/cowboy-03.png' alt='Cowboy 3' class='img-responsive')
                    div.col-xs-6.text-left
                        h4 John Siracha
                        p.team-position Captain
                        div.team-data
                            div Age: 47
                            div Missions: 13
        div.card__back
            div.card__text.col-xs-12
                div.row
                    div.col-xs-12.quote
                        strong John's famous quote:
                        p "This is a small step for me, but a big step, for, like, a small kid"
                    