div.col-xs-12.col-sm-4.col-sm-offset-2.team-member
    div(class='card effect__click row')
        div.card__front
            div.card__text.col-xs-12
                div.row
                    div.col-xs-6
                        img(src='./assets/img/cowboy-04.png' alt='Cowboy 4' class='img-responsive')
                    div.col-xs-6.text-left
                        h4 Bert McNamara
                        p.team-position Captain
                        div.team-data
                            div Age: 71
                            div Missions: 13
        div.card__back
            div.card__text.col-xs-12
                div.row
                    div.col-xs-12.quote
                        strong Bert's famous quote:
                        p "This is a small step for me, but a big step, for, like, a small kid"
                        
div.col-xs-12.col-sm-4.team-member
    div(class='card effect__click row')
        div.card__front
            div.card__text.col-xs-12
                div.row
                    div.col-xs-6
                        img(src='./assets/img/cowboy-05.png' alt='Cowboy 5' class='img-responsive')
                    div.col-xs-6.text-left
                        h4 Al Sveringe
                        p.team-position CEO
                        div.team-data
                            div Age: 76
                            div Missions: 13
        div.card__back
            div.card__text.col-xs-12
                div.row
                    div.col-xs-12.quote
                        strong Al's famous quote:
                        p "This is a small step for me, but a big step, for, like, a small kid"