$color-white: #fff;
$color-dark-blue: #161b20;
$color-light-grey: #dfdfe1;
$color-dark-grey: #484d52;
$color-middle-dark-grey: #43484e;
$color-m-dark-grey: #acb1b6;
$color-yellow: #ffdf09;
$color-green: #98d09a;
$color-red: #eb5b59;
$color-black: #000;

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);