$color-white: #fff;
$color-dark-blue: #161b20;
$color-light-grey: #dfdfe1;
$color-dark-grey: #484d52;
$color-middle-dark-grey: #43484e;
$color-yellow: #ffdf09;
$color-green: #98d09a;
$color-red: #eb5b59;
