@import "./node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "_variables.scss";
@import "_mixins.scss";


@font-face{
	font-family: 'MontserratRegular';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'MontserratBold';
	src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face{
	font-family: 'MerriweatherLight';
	src: url('../fonts/Merriweather-Light.ttf') format('truetype');
}

@font-face{
	font-family: 'MerriweatherLightItalic';
	src: url('../fonts/Merriweather-LightItalic.ttf') format('truetype');
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Droid Sans', sans-serif;
}

body {
	color: $color-white;
	font-size: 62.5%;
}

p, span, li, a {
	font-size: 1.4rem;
	font-family: 'Droid Sans', sans-serif;
}

.form-control {
	
	border: 0px solid $color-white;
	
	&:focus {
		border-color: transparent;
		outline: none;
		box-shadow: none;
  	}
}

h1, h2, h3, h4 {
	font-family: 'MontserratBold';
	text-transform: uppercase;
	-webkit-font-smoothing: subpixel-antialiased;
  	-moz-osx-font-smoothing: auto;
}

h1 {
	font-size: 4.8rem;

	& small {
		font-size: 3.0rem;
		color: $color-white;
		margin-top: 30px;
		
		@media (max-width: $screen-xs-max) {
			font-size: 1.5rem;
		}
	}
}

h2 {
	font-size: 3.6rem;
}

h3 {
	font-size: 2.4rem;
}

h4 {
	font-size: 1.8rem;
}


.block {
	display: block;
}

.display-none {
	display: none;
}

.container {
	@media (max-width: $screen-xs-max) {
		padding-left: 25px;
		padding-right: 25px;	
	}
}

.btn {
	font-family: 'MontserratBold';
	font-size: 1.8rem;
	text-transform: uppercase;
	margin-top: 120px;
	
	@media (max-width: $screen-xs-max) {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	@include transition(500ms);

	&.btn-yellow {
		background: $color-yellow;
		color: $color-dark-blue;
		padding: 10px 50px;
	}

	&:hover {
		background: $color-dark-blue;
		color: $color-yellow;
		@include transition(500ms);
	}
}





.header {
	background: transparent;
	position: absolute;
	width: 100%;
	
	@media (min-width: $screen-sm-min) {
  		@include transition(500ms);
	}
  
  @media (max-width: $screen-xs-max) {
			min-height: 100%;	
		}

	&.sticky {
		background: $color-middle-dark-grey;
		
		@media (max-width: $screen-xs-max) {
			background: $color-dark-blue;
			min-height: 100%;
		}
		
		position: fixed;
		z-index: 20;
		
		@media (min-width: $screen-sm-min) {
    		@include transition(500ms);
		}
	}
}

.header-container {
	position: relative;
	z-index: 15;
	padding-top: 27px;
	padding-bottom: 27px;
}

.main-nav-container {
	padding-right: 15px;
}

.main-nav-list {
	& .main-nav-item {
		padding-left: 25px;
	}


}

.main-nav-item {
	&.active {
		& a {
			color: $color-yellow;
		}
	}
}

.main-nav-item-link {
	color: $color-white;
	text-transform: uppercase;
	font-family: 'MontserratBold';
	font-size: 1.4rem;
	position: relative;
	top: 7px;

	&:hover, &:focus {
		color: $color-yellow;
		text-decoration: none;
	}
}

.mobile-menu-container {
	background: $color-dark-blue;
	padding-top: 30px;
	
	@media (max-width: $screen-xs-max) {
		min-height: 100%;	
	}
	
	& a {
		color: $color-white;
		font-family: 'MontserratBold';
		font-size: 2.4rem;
		text-transform: uppercase;
		
		&:hover {
			text-decoration: none	
		}
	}
	
	& li {
		padding-bottom: 10px;
	}
}

.mobile-menu {
	padding: 5px 7px;
	border: 1px solid $color-white;
	color: $color-white;
	font-family: 'MontserratBold';
	@include roundedCorners(3);
	
	
	&:hover, &:focus {
		color: $color-white;
		text-decoration: none;
	}
	
	& .close-x {
		position: relative;
		top: -1px;
	}
}




.hero {
	position: relative;
	top: 0px;
	z-index: 10;
	
	@media (max-width: $screen-xs-max) {
		min-height: 100%;
		width: auto;	
	}
}

.hero-img {
	min-width: 100%;
	
	@media (max-width: $screen-xs-max) {
		height: 100%;
		width: auto;	
	}
}

.hero-caption {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%); 
      -ms-transform: translate(-50%, -50%);   
          transform: translate(-50%, -50%);   
	width: 50%;
	
	@media (max-width: $screen-xs-max) {
		width: 80%;
		top: 30%;	
	}
	

  & h1 {
	& span {
		font-family: 'MontserratBold';
		font-size: 4.8rem;
	  
		@media (max-width: $screen-xs-max) {
			font-size: 2.4rem;
		}
    }
  }

}



.intro {
	margin-bottom: 100px;
}




.facts, .team, .gallery, .contact {
	padding-top: 50px;
	padding-bottom: 120px;
	
	@media (max-width: $screen-xs-max) {
		padding-bottom: 20px;	
	}
}

.facts {
	color: $color-dark-blue;
	background: $color-light-grey;
}



.facts-box {
	font-family: 'MerriweatherLight';

	& > div {
		background: $color-white;
		padding: 20px 25px 20px 25px;
		min-height: 300px;
		@include roundedCorners(2);
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
		
		@media (max-width: $screen-xs-max) {
			margin-bottom: 70px;
		}
	}

  @include transition(500ms);

  & .facts-box-img {
    position: relative;
  	top: -60px;
    @include transform(1.0);
    @include transition(500ms);
  }

  &:hover {
    @include transform(1.05);
    @include transition(500ms);

    & .facts-box-img {
      @include transform(0.8);
      @include transition(500ms);
    }

  }
}

.intro-text {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 100;
	font-size: 1.8rem;
}

.team {
	background: url(../img/background-team.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.team-members {
	margin-bottom: 50px;

	& div {
		font-family: 'MontserratRegular';
	}
}

.team-member {

	& .card {
		min-height: 166px;
		color: $color-white;
    	@include roundedCorners(5);
		
		&.flipFront {
			background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.4)),to(rgba(255, 255, 255, 0)));
		background-image: -moz-linear-gradient(right center,rgba(0, 0, 0, 0.4) 20%, rgba(255, 255, 255, 0) 95%);
		-ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColor=0, endColoStr=#FFFFFF);
		}		
	}

	.card__front,
	.card__back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	
	.card__front,
	.card__back {
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
	}
	
	.card__back {
		padding-top: 10px;
		-webkit-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
	}
	
	.card.effect__click.flipped .card__front {
	-webkit-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
	}
	
	.card.effect__click.flipped .card__back {
	-webkit-transform: rotateY(0);
			transform: rotateY(0);
	}

	& h4 {
		margin-top: 30px;
		word-spacing: 60px;
		line-height: 22px;
	}
}

.team-position, .team-data {
	font-size: 1.2rem;
}

.quote {
	
	& strong {
		color: $color-dark-grey;
		font-size: 1.2rem;
		font-family: 'MontserratBold';
		text-transform: uppercase;
	}
	& p {
		margin-top: 30px;
		font-size: 2.2rem;
		font-family: 'MerriweatherItalic';
		font-style: italic;
		padding-left: 49px;
		padding-right: 49px;
	}
}


.overlay {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
	opacity: 0.92;
	background: $color-dark-blue;
	z-index: 10;
	
	& .prev, 
	& .next, 
	& > .row {
		height: 100%;
	}
	
	& .next-button, & .prev-button {
		height: 100%;
		position: relative;
		display: block;
	}
	
	& a {
		display: block;
		//height: 100%;
		position: relative;
		top: 50%;
	}
	
	& .big-img {
		position: relative;
		min-width: 100%;
		
	}
	
	& .img-description {
		display: block;
		margin-top: 10px;
		font-family: 'MontserratBold';
		font-size: 1.2rem;
	}
	
	& .close-button {
		margin-top: 50px;
		margin-bottom: 70px;
	}
}

.gallery {
	background: $color-dark-blue;
	position: relative;
}

.gallery-content {
	margin-bottom: 30px;
}

.gallery-image {
	@media (max-width: $screen-xs-max) {
		margin-bottom: 20px;
	}
}

.contact {
	background: $color-m-dark-grey;
	color: $color-dark-blue;

	& input {
		margin-bottom: 30px;
		z-index: 5;
	}

}

textarea {
	&.form-control {
		@media (max-width: $screen-xs-max) {
			width: 100%;	
		}
	}
}




.footer {
	color: $color-dark-grey;
	background: $color-dark-blue;
	padding-top: 35px;
	padding-bottom: 30px;
}



.parsley-errors-list {
  	list-style-type: none;
  	padding: 0;
	top: -18px;
    position: absolute;
    left: 20px;
}

.parsley-custom-error-message {
	color: $color-red;
	font-size: 1.2rem;
}

.form-control {
  &.parsley-success {
    color: $color-green;
	background: $color-white url('../img/checkmark-green.png') no-repeat 97%;
  }
    &.parsley-error {
      border: 1px solid $color-red;
	  background: $color-white url('../img/cross-red.png') no-repeat 97%;
	  color: $color-red;
    }

}
