@import "./node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$color-white: #fff;
$color-dark-blue: #161b20;
$color-light-grey: #dfdfe1;
$color-dark-grey: #484d52;
$color-middle-dark-grey: #43484e;
$color-yellow: #ffdf09;


@font-face{
	font-family: 'MontserratRegular';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'MontserratBold';
	src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face{
	font-family: 'MerriweatherLight';
	src: url('../fonts/Merriweather-Light.ttf') format('truetype');
}

@font-face{
	font-family: 'MerriweatherLightItalic';
	src: url('../fonts/Merriweather-LightItalic.ttf') format('truetype');
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Myriad Pro Regular';
}

body {
	color: $color-white;
}

h1, h2, h3, h4 {
	font-family: 'MontserratBold';
	text-transform: uppercase;
}

h1 {
	font-size: 48px;

	& small {
		font-size: 30px;
		color: $color-white;
		margin-top: 30px;
	}
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}


.block {
	display: block;
}

.btn {
	font-family: 'MontserratBold';
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 120px;

	&.btn-yellow {
		background: $color-yellow;
		color: $color-dark-blue;
		padding: 10px 50px;
	}
}





.header {
	background: transparent;
	position: absolute;
	width: 100%;

	&.sticky {
		background: $color-middle-dark-grey;
		position: fixed;
		z-index: 20;
		-webkit-transition: background 500ms ease-in-out;
		-moz-transition: background 500ms ease-in-out;
		-ms-transition: background 500ms ease-in-out;
		-o-transition: background 500ms ease-in-out;
		transition: background 500ms ease-in-out;
	}
}

.header-container {
	position: relative;
	z-index: 15;
	padding-top: 27px;
	padding-bottom: 27px;
}

.main-nav-list {
	& .main-nav-item {
		padding-left: 25px;
	}
}

.main-nav-item {
	&.active {
		& a {
			color: $color-yellow;
		}
	}
}

.main-nav-item-link {
	color: $color-white;
	text-transform: uppercase;
	font-family: 'MontserratBold';
	font-size: 14px;
	position: relative;
	top: 7px;

	&:hover, &:focus {
		color: $color-yellow;
		text-decoration: none;
	}
}




.hero {
	position: relative;
	top: 0px;
	z-index: 10;
	height: 100%;
	width: 100%;
}

.hero-img {
	width: 100%;
	height: 100%;
}

.hero-caption {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;

	& h2 {
		margin-bottom: 120px;
	}
}



.intro {
	margin-bottom: 100px;
}




.facts, .team, .gallery, .contact {
	padding-top: 50px;
	padding-bottom: 120px;
}

.facts {
	color: $color-dark-blue;
	background: $color-light-grey;
}



.facts-box {
	font-family: 'MerriweatherLight';

	& > div {
		background: $color-white;
		padding: 20px 25px 20px 25px;
	}
}

.intro-text {
	font-family: 'MerriweatherLight';
	font-size: 18px;
}

.facts-box-img {
	position: relative;
	top: -60px;
}

.team {
	background: url(../img/background-team.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.team-members {
	margin-bottom: 50px;

	& div {
		font-family: 'MontserratRegular';
	}
}

.team-member {

	& > a {
		display: block;
		color: $color-white;
	}

	& h4 {
		margin-top: 40px;
		word-spacing: 60px;
	}
}

.team-position, .team-data {
	font-size: 12px;
}

.gallery {
	background: $color-dark-blue;
}

.gallery-content {
	margin-bottom: 30px;
}

.contact {
	background: $color-light-grey;
	color: $color-dark-blue;

	& input {
		margin-bottom: 23px;
	}

}




.footer {
	color: $color-dark-grey;
	background: $color-dark-blue;
	padding-top: 35px;
	padding-bottom: 30px;
}
