div.hero-img
	img(src='./assets/img/hero-01.png' alt='Hero Bild 01' class="img-responsive hero-img")
div.hero-caption.text-center
	h1 Hey there, we are spacecowboy
	h2 - an independent space agency - 
	button(type='button' class='btn btn-yellow') Learn more