div.row.intro
	div(class='col-xs-12 intro-text text-center' data-sr='scale down 50%')
		h2 Say Hello
		div Got some questions about us? Wanna do business with us? 
		div Or do you just want to send us your latest cat-content - there you go:
