doctype html
html(lang="en")
	head
		meta(charset='utf-8')

		meta(name='robots', content='noindex,nofollow')

		meta(name='viewport', content='width=device-width, initial-scale=1')

		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(name='author', content='Sebastian Lukas Herzinger')

		title dw-playground

		link(href='./assets/css/styles.css', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet')
	body

		header#header.header
			include modules/nav/mainnav.jade

		section#hero.hero
			include modules/hero/hero.jade

		section(id='facts' class='facts')
			div.container
				include modules/facts/intro.jade
				div(class='row facts-boxes' data-sr='')
					div.col-xs-12.col-sm-4.facts-box.text-center
						div
							img(src='./assets/img/facts-box-cowboy.png' alt='Icon Cowboy' class='facts-box-img')
							h3 We are cowboys
							p You might have guessed that from our company name, but the fact is: Yes, we are indeed cowboys. Cowboys who‘d like to go to space. Deal with it.
					div.col-xs-12.col-sm-4.facts-box.text-center
						div
							img(src='./assets/img/facts-box-tools.png' alt='Icon Tools' class='facts-box-img')
							h3 We like to tinker
							p There are a lot of things lying around on a typical Cowboy Ranch. So we started putting them together, and got really good at rocket building.
					div.col-xs-12.col-sm-4.facts-box.text-center
						div
							img(src='./assets/img/facts-box-planets.png' alt='Icon Planets' class='facts-box-img')
							h3 We explore space
							p Once we got our first proper rocket, everything went quite fast. And now we are the #1 independent space agency in the world. Who would have guessed?

		section(id='team' class='team')
			div.container
				include modules/team/intro.jade
				div(class='row team-members text-center' data-sr)
					include modules/team/team-members/members01.jade
				div(class='row team-members text-center' data-sr)
					include modules/team/team-members/members02.jade
					
		section(id='gallery' class='gallery')
			div.overlay.display-none
				div.row
					div.hidden-xs.col-sm-2.prev.text-center
						div.prev-button 
							a(href='#' class='prev')
								img(src='./assets/img/prev-img.png' alt='vorheriges Bild' class='js-prevImage')
						
					div.col-xs-12.col-sm-8
						div.row
							div.col-xs-12.text-center
								a(href='#' class='close-button')
									img(src='./assets/img/cross-grey.png' alt='Lightbox schliessen' class='js-closeImage')
						div.row.opened-img.text-center
							div.col-xs-12
								img(src='' class='img-responsive big-img' alt='big image' data-id='')
								div.img-description 
					
					div.hidden-xs.col-sm-2.next.text-center
						div.next-button
							a(href='#' class='prev')
								img(src='./assets/img/next-img.png' alt='Nächstes Bild' class='js-nextImage')
			div.container
				include modules/gallery/intro.jade
				include modules/gallery/content/index.jade



		section(id='contact' class='contact')
			div.container
				include modules/contact/intro.jade
				include modules/contact/form/index.jade

		footer#footer.footer
			div.container
				div.row
					div.col-xs-12.text-center
						p Copyright &copy; 2015
						img(src='./assets/img/logo-footer.png' alt='Footer Logo')

		script(src='./assets/js/all.js')
