doctype html
html(lang="en")
	head
		meta(charset='utf-8')        
        
		meta(name='robots', content='noindex,nofollow')
		
		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(name='author', content='Sebastian Lukas Herzinger')
		
		
		title dw-playground
		
		link(href='./assets/css/styles.css', rel='stylesheet')
	body
	
		header#header.header
			include modules/nav/mainnav.jade
		
		section#hero.hero
			include modules/hero/hero.jade
		
		section(id='facts' class='facts')
			div.container
				include modules/facts/intro.jade
				div(class='row facts-boxes' data-sr)
					div.col-xs-12.col-sm-4.facts-box.text-center
						div
							img(src='./assets/img/facts-box-cowboy.png' alt='Icon Cowboy' class='facts-box-img')
							h3 We are cowboys
							p You might have guessed that from our company name, but the fact is: Yes, we are indeed cowboys. Cowboys who‘d like to go to space. Deal with it.
					div.col-xs-12.col-sm-4.facts-box.text-center
						div
							img(src='./assets/img/facts-box-tools.png' alt='Icon Tools' class='facts-box-img')
							h3 We like to tinker
							p There are a lot of things lying around on a typical Cowboy Ranch. So we started putting them together, and got really good at rocket building.  
					div.col-xs-12.col-sm-4.facts-box.text-center
						div
							img(src='./assets/img/facts-box-planets.png' alt='Icon Planets' class='facts-box-img')
							h3 We explore space
							p Once we got our first proper rocket, everything went quite fast. And now we are the #1 independent space agency in the world. Who would have guessed?
		
		section(id='team' class='team')
			div.container
				include modules/team/intro.jade
				div(class='row team-members text-center' data-sr)
					div.col-xs-4.team-member
						a(href='#' class='row' title='Cowboy 1')
							div.col-xs-6
								img(src='./assets/img/cowboy-01.png' alt='Cowboy 1' class='img-responsive')
							div.col-xs-6.text-left
								h3 Dick Harvey
								p.team-position Captain
								div.team-data
									div Age: 56
									div Missions: 13					
					div.col-xs-4.team-member
						a(href='#' class='row' title='Cowboy 2')
							div.col-xs-6
								img(src='./assets/img/cowboy-02.png' alt='Cowboy 2' class='img-responsive')
							div.col-xs-6.text-left
								h3 Richie Farhem
								p Captain
								div
									div Age: 48
									div Missions: 13
					div.col-xs-4.team-member
						a(href='#' class='row' title='Cowboy 3')
							div.col-xs-6
								img(src='./assets/img/cowboy-03.png' alt='Cowboy 3' class='img-responsive')
							div.col-xs-6.text-left
								h3 John Siracha
								p Captain
								div
									div Age: 47
									div Missions: 13
				div(class='row team-members text-center' data-sr)
					div.col-xs-4.col-xs-offset-2.team-member
						a(href='#' class='row' title='Cowboy 4')
							div.col-xs-6
								img(src='./assets/img/cowboy-04.png' alt='Cowboy 4' class='img-responsive')
							div.col-xs-6.text-left
								h3 Bert McNamara
								p Captain
								div
									div Age: 71
									div Missions: 13
					div.col-xs-4.team-member
						a(href='#' class='row' title='Cowboy 5')
							div.col-xs-6
								img(src='./assets/img/cowboy-05.png' alt='Cowboy 5' class='img-responsive')
							div.col-xs-6.text-left
								h3 Al Sveringe
								p CEO
								div
									div Age: 76
									div Missions: 13
		
		section(id='gallery' class='gallery')
			div.container
				include modules/gallery/intro.jade
				div(class='row gallery-content' data-sr) 
					div.col-xs-4.col-sm-2
						a(href='#' title='Thumb 01 Link')
							img(src='./assets/img/thumb-01.png' alt='Thumb 01')
					div.col-xs-4.col-sm-2 
						a(href='#' title='Thumb 02 Link')
							img(src='./assets/img/thumb-02.png' alt='Thumb 02')
					div.col-xs-4.col-sm-2 
						a(href='#' title='Thumb 03 Link')
							img(src='./assets/img/thumb-03.png' alt='Thumb 03')
					div.col-xs-4.col-sm-2 
						a(href='#' title='Thumb 04 Link')
							img(src='./assets/img/thumb-04.png' alt='Thumb 04')
					div.col-xs-4.col-sm-2 
						a(href='#' title='Thumb 05 Link')
							img(src='./assets/img/thumb-05.png' alt='Thumb 05')
					div.col-xs-4.col-sm-2 
						a(href='#' title='Thumb 06 Link')
							img(src='./assets/img/thumb-06.png' alt='Thumb 06')
				div(class='row gallery-content' data-sr)
					div.col-xs-4.col-sm-2 
						a(href='#' title='Thumb 07 Link')
							img(src='./assets/img/thumb-07.png' alt='Thumb 07')
					div.col-xs-4.col-sm-2 
						a(href='#' title='Thumb 08 Link')
							img(src='./assets/img/thumb-08.png' alt='Thumb 08')
					div.col-xs-4.col-sm-2 
						a(href='#' title='Thumb 09 Link')
							img(src='./assets/img/thumb-09.png' alt='Thumb 09')
					div.col-xs-4.col-sm-2 
						a(href='#' title='Thumb 10 Link')
							img(src='./assets/img/thumb-10.png' alt='Thumb 10')
					div.col-xs-4.col-sm-2 
						a(href='#' title='Thumb 11 Link')
							img(src='./assets/img/thumb-11.png' alt='Thumb 11')
					div.col-xs-4.col-sm-2 
						a(href='#' title='Thumb 12 Link')
							img(src='./assets/img/thumb-12.png' alt='Thumb 12')
					
					
		
		section(id='contact' class='contact')
			div.container
				include modules/contact/intro.jade
				form(class='row' data-sr)
					div.col-xs-3.col-xs-offset-3
						div.row
							div.col-xs-12
								input(type='text' class='form-control' id='example01' placeholder='First Name')
						div.row
							div.col-xs-12
								input(type='text' class='form-control col-xs-8' id='example02' placeholder='Last Name')
						div.row
							div.col-xs-12
								input(type='email' class='form-control col-xs-4' id='example03' placeholder='E-Mail')
					div.col-xs-3
						div.row
							div.col-xs-12
								textarea(class='form-control' rows='7')
				div.row
					div.col-xs-12.text-center
						button(type='button' class='btn btn-yellow') Send that mail

		footer#footer.footer
			div.container
				div.row
					div.col-xs-12.text-center
						p Copyright &copy; 2015
						img(src='./assets/img/logo-footer.png' alt='Footer Logo')
		
		script(src='./assets/js/all.js')